@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Schoolbell&display=swap');

.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

.arimo-regular {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --shadow-gray: #262322;
  --espresso: #63372c;
  --peach: #c97d60;
  --blush: #ffbcb5;
  --almond: #f2e5d7;
}

.bg-grey {
  background-color: var(--shadow-gray);
}
.bg-espresso {
  background-color: var(--espresso);
}
.bg-peach {
  background-color: var(--peach);
}
.bg-blush {
  background-color: var(--blush);
}
.bg-almond {
  background-color: var(--almond);
}

.text-color {
  color: var(--shadow-gray);
}

body {
  background-color: var(--peach);
  font-family: "Nunito Sans", sans-serif;
}

.navbar {
  height: 80px !important;
}
