@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Schoolbell&display=swap");

.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

.arimo-regular {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --shadow-gray: #262322;
  --espresso: #63372c;
  --peach: #c97d60;
  --blush: #ffbcb5;
  --almond: #f2e5d7;

  --product-card-w: 100px;
  --product-card-h: 100px;
}

.bg-grey {
  background-color: var(--shadow-gray);
}
.bg-espresso {
  background-color: var(--espresso);
}
.bg-peach {
  background-color: var(--peach);
}
.bg-blush {
  background-color: var(--blush);
}
.bg-almond {
  background-color: var(--almond);
}

.text-color {
  color: var(--shadow-gray);
}

/* Small fixes */

.navbar {
  height: 90px !important;
}

/* "Logo-link" */
.navbar-brand.text-color:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.nav-link.text-color:hover {
  color: #63372c !important;
  text-decoration: none;
}

/* Card & sizes */

.card-img-top {
  height: 400px;
  object-fit: cover;
}

.product-img-size {
  height: 180px;
  object-fit: fill;
}

.kaffeparty-img-size {
  height: 366px;
}

.card-transition {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card-transition:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
